:root {
  --link-font: #f38181;
  --button-bg: #ff6b6b;
  --page-bg: #e5e5e5;
  --border: #bbbbbb;
}

::placeholder {
  color: black;
}

body {
  background-color: #f0f1f3;
  display: grid;
  place-items: center;
}

.findPasswordHeader {
  font-size: 26px;
  font-weight: bold;
  color: var(--link-font);
  margin: 200px 0 40px 0;
}

.findPasswordForm {
  min-width: 400px;

  display: grid;

  grid-template-rows: repeat(2, 60px);
  grid-gap: 16px;
  grid-template-areas:
    "emailInput"
    "submitValue";
}

.emailInput {
  grid-area: emailInput;
  border: none;
  padding: 20px;
}
.submitValue {
  grid-area: submitValue;
  background-color: var(--button-bg);
  color: white;
  font-size: 18px;
  border: none;
}

.loginLink {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  color: var(--link-font);
}
