body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #e5e5e5;
}

.loginContainer {
  background: rgba(3, 1, 17, 1);
  padding: 1rem 3rem 2rem 3rem;
  min-width: 40rem;
  min-height: 30rem;
}

.loginHeader {
  color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userValueForm {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "emailInput "
    "passwordInput "
    "none"
    "loginButton ";
}

.emailInput {
  grid-area: emailInput;
  margin: 1rem 0 1rem 0;
  padding: 1rem 0 1rem 1rem;
  border-radius: 10px;
}
.passwordInput {
  grid-area: passwordInput;
  margin: 1rem 0 1rem 0;
  padding: 1rem 0 1rem 1rem;
  border-radius: 10px;
}
.loginButton {
  grid-area: loginButton;
  margin: 1rem 0 1rem 0;
  padding: 1rem 0 1rem 0;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.optionContainer {
  display: flex;
  justify-content: space-evenly;
}

.signUp,
.findPassword {
  text-decoration: none;
  color: #e5e5e5;
}
