:root {
  --link-font: #f38181;
  --button-bg: #ff6b6b;
  --page-bg: #e5e5e5;
  --border: #bbbbbb;
}

::placeholder {
  color: #000000;
  font-size: 18px;
}

body {
  min-height: 99vh;
  display: grid;
  place-items: center;
  background-color: var(--page-bg);
}

.loginContainer {
  background: var(--page-bg);
  min-width: 400px;
  min-height: 400px;
}

.loginHeader {
  color: #000000;
  font-size: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.userValueForm {
  margin-top: 40px;
  display: grid;
  grid-template-rows: 50px 50px auto 50px;
  row-gap: 16px;
  grid-template-areas:
    "emailInput"
    "passwordInput"
    "forgotPasswordLink"
    "loginButton";
}

.userValueForm > * {
  padding: 12px 0 10px 20px;
  border: none;
}

.emailInput {
  grid-area: emailInput;
}
.passwordInput {
  grid-area: passwordInput;
}
.forgotPasswordLink {
  grid-area: forgotPasswordLink;
  text-decoration: underline;
  color: var(--link-font);
}
.loginButton {
  grid-area: loginButton;
  background: var(--button-bg);
  color: #ffffff;
  font-size: 18px;
  padding-left: 0px;
}

fieldset {
  padding: 0 0 19px 0;
  border-top: 1px var(--border) solid;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.selectSectionLegend {
  font-size: 18px;
  width: auto;
  padding: 19px 50px 19px 50px;
  margin-left: calc(50% - 50px - 17px);
}

.oauthButtonContainer {
  display: grid;
  grid-template-rows: 50px 50px;
  row-gap: 8px;
  grid-template-areas:
    "loginByKaKaoButton "
    "loginByGoogleButton ";
}

.oauthButtonContainer > * {
  font-size: 18px;
  border: 1px var(--border) solid;
}

.loginByKaKaoButton {
  background: #fae100;
  border: none;
}

.loginByGoogleButton {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggestSignUpContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.signUpLink {
  text-decoration: underline;
  color: var(--link-font);
  padding-left: 5px;
}
