:root {
  --reviewPageOutside: #bbbbbb;
  --reviewPageInside: white;
  --starRating: #ddd;
}

body {
  background-color: var(--reviewPageOutside);
  margin: 0px;
  padding: 0px;
}

article {
  background-color: white;
}

.scoreStar {
  position: relative;
  font-size: 2rem;
  color: var(--starRating);
}

.scoreStar .scoreStarMask {
  width: 0;
  position: absolute;
  left: 0;
  color: yellowgreen;
  overflow: hidden;
}

.commentRegStar {
  position: relative;
  font-size: 2rem;
  color: var(--starRating);
}

.commentRegStar .commentRegStarMask {
  width: 0;
  position: absolute;
  left: 0;
  color: yellowgreen;
  overflow: hidden;
  pointer-events: none;
}

.commentRegStar .commentRegStarDrag {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

/* .main_img_frame {
  margin: 30px auto;
}

article .main_img_frame #main_img {
  display: block;
  margin: 30px auto;
  width: 900px;
  height: 600px;
}

article #container {
  display: flex;
}

article #container button {
  margin: auto auto;
  height: 150px;
}

article #img_list {
  margin: 30px auto;
  display: flex;
  width: 70%;
}

article #img_list img {
  width: 200px;
  height: 150px;
  margin: 30px auto;
}

article .main_text {
  width: 70%;
  margin: 100px auto;
}

article .comment {
  width: 70%;
  margin: 100px auto;
}

article .comment input {
  display: block;
  margin: 50px auto;
  width: 800px;
  height: 80px;
} */
