body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #e5e5e5;
}

.loginContainer {
  background: rgba(3, 1, 17, 1);
  padding: 1rem 3rem 2rem 3rem;
  min-width: 30rem;
  min-height: 35rem;
}

.loginHeader {
  color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userValueForm {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(0.5fr, 3);
  grid-template-areas:
    "nameInput nameInput"
    "emailInput emailInput"
    "signUpCodeInput getSignUpCodeButton";
}

.userValueForm > * {
  margin: 0.5rem 0 0.5rem 0;
  padding: 1rem 0 1rem 1rem;
  border-radius: 10px;
}

.nameInput {
  grid-area: nameInput;
}
.emailInput {
  grid-area: emailInput;
}
.signUpCodeInput {
  grid-area: signUpCodeInput;
  margin: 0.5rem 1rem 0.5rem 0;
}
.getSignUpCodeButton {
  grid-area: getSignUpCodeButton;
  padding: 0.5rem 0 0.5rem 0;
  font-size: 1rem;
  font-weight: 600;
}

.passwordForm {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 0.8fr 0.5fr;
  grid-template-areas:
    "passwordInput"
    "passwordConfirmInput"
    "none"
    "signUpButton";
}

.passwordForm > * {
  margin: 0.5rem 0 0.5rem 0;
  padding: 1rem 0 1rem 1rem;
  border-radius: 10px;
}

.passwordInput {
  grid-area: passwordInput;
}

.passwordConfirmInput {
  grid-area: passwordConfirmInput;
}

.signUpButton {
  grid-area: signUpButton;
  padding: 1rem 0 1rem 0;
}
