::placeholder {
  color: #000000;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #f0f1f3;
}

.loginContainer {
  background: #f0f1f3;
  min-width: 400px;
  min-height: 400px;
}

.loginHeader {
  color: #f38181;
  font-size: 26px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userValueForm {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(60px, 3);
  grid-template-areas:
    "nameInput nameInput"
    "emailInput emailInput"
    "signUpCodeInput getSignUpCodeButton";
}

.userValueForm > * {
  margin: 8px 0 8px 0;
  padding: 18px 0 18px 20px;
  border: none;
  font-size: 18px;
  color: #000000;
}

.nameInput {
  grid-area: nameInput;
}
.emailInput {
  grid-area: emailInput;
}
.signUpCodeInput {
  grid-area: signUpCodeInput;
  margin: 0.5rem 1rem 0.5rem 0;
}
.getSignUpCodeButton {
  grid-area: getSignUpCodeButton;
  padding: 0.5rem 0 0.5rem 0;
  background-color: white;
}

.passwordForm {
  display: grid;
  grid-template-rows: 70px 70px 30px 70px;
  grid-template-areas:
    "passwordInput"
    "passwordConfirmInput"
    "none"
    "signUpButton";
}

.passwordForm > * {
  margin: 8px 0 8px 0;
  padding: 18px 0 18px 20px;
  border: none;
  background: white;
  font-size: 18px;
}

.passwordInput {
  grid-area: passwordInput;
}

.passwordConfirmInput {
  grid-area: passwordConfirmInput;
}

.signUpButton {
  grid-area: signUpButton;
  padding: 10px 0 10px 0;
  background: #ff6b6b;
}

.alreadySignUp {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.goToLogin {
  margin-left: 10px;
  text-decoration: none;
  color: #f38181;
}
