:root {
  --link-font: #f38181;
  --button-bg: #ff6b6b;
  --page-bg: #e5e5e5;
  --border: #bbbbbb;
}

* {
  /* transition: 0.25s ease-in-out; */
  margin: 0;
  padding: 0;
  /* background-color: var(--page-bg); */
}

/* a태그 색상 변경 안되도록 처리 */
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}

/* javascript로 렌더하는 element의 className */

.render {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  column-gap: 1rem;
  justify-content: center;
  padding: 1rem;
  padding-top: calc(50px + 1rem);
}

.card {
  background-color: #ffffff;
  border: 1px solid var(--border);
  border-radius: 2px;
  overflow: hidden;
}
.thumbnail {
  height: 300px;
}
.thumbnail > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 2px; */
}

/* 전체 card > (썸네일, 컨텐츠) */
/* 컨텐츠 flex > 아바타, (제목,별점), 날짜 */
.contents {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: #fff;
}
.avatar {
  background-color: #fff;
  padding: 10px;
}
.avatar-image {
  background-color: #ccc;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: 50%;
}
.avatar-char {
  color: #fff;
  background-color: rgba(173, 200, 82);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: 50%;
}
.createdAt {
  background-color: #fff;
  text-align: right;
  display: inline-block;
  white-space: nowrap;
  font-size: small;
  margin: 10px 10px 0 0;
}
.title-rating {
  background-color: #fff;
}
.rating {
  background-color: #fff;
  margin-bottom: 3px;
}
.title {
  min-width: 100px;
  background-color: #fff;
  margin-top: 10px;
  font-size: medium;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#header {
  width: 100%;
  position: fixed;
  left: 0px;
  /* background: #efefef; */
  padding: 10px 10px 10px 50px;
  font-size: 30px;
  line-height: 30px;
  z-index: 0;
}

.star {
  background-color: #fff;
  text-shadow: 0 #000;
  font-size: 1rem;
  line-height: 2.5rem;
}
.fill-star {
  background-color: #fff;
  text-shadow: 0px 0px 3px #000;
  font-size: 1rem;
  line-height: 2.5rem;
  color: #fff58c;
}
header {
  width: 100%;
  position: fixed;
  display: flex;
  left: 0px;
  /* background: #efefef; */
  padding: 10px 10px 10px 50px;
  font-size: 30px;
  line-height: 30px;
  z-index: 0;
}

/* 데스크탑 화면 */
@media screen and (min-width: 769px) {
  .thumbnail {
    max-height: 30vh;
    overflow: hidden;
  }
  .thumbnail > img {
    object-fit: cover;
  }
  .render {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 1rem;
    justify-content: center;
    padding: 1rem;
    padding-top: calc(50px + 1rem);
  }
  .title {
    min-height: 42.667px;
  }
}
