<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <input type="file" id="img" />
    <input type="submit" onclick="upload()" value="이미지 업로드~" />
    구글님 제발요!!!
    <a href="/auth/google">구글 로그인</a>
  </body>
</html>
