* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  background-color: #fe9fa2;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}

#wrapper {
  display: grid;
  height: 80vh;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 60px;
  justify-content: center;
  align-items: center;
}
.describe {
  width: 20vw;
  border: 2px solid red;
  margin: 0 auto;
  text-align: center;
}
header {
  display: flex;
  position: fix;
  background-color: #ffffff;
  padding: 10px;
  width: 100%;
  text-align: center;
}
#title {
  /* font-size: 1.5rem; */
  text-align: center;
  float: right;
}
#login {
  /* font-size: 1rem; */
  padding: 0.5rem;
}
#join {
  /* font-size: 1rem; */
  padding: 0.5rem;
}

@media screen and (max-width: 768px) {
  #wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

#total-projects,
#total-feedback,
#per-project {
  padding-top: 2rem;
}
#link-box {
  float: right;
}
